/* 1 Reset --------------------- */

/* 2 Font ---------------------- */
body{
    font-size: 15px;

    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Iowan Old Style',sans-serif;

    line-height: 1.6;
    font-weight: normal;
    color: #505050;
}

/* 3 Link Color ------------------*/
a{
    text-decoration: none;
}
/* 3-1 Home ------------------*/
.home .nav a:link , .home .nav a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

.home .nav a:hover, .home .nav a:active{
    color: #E2E2E2;
    text-decoration: none;
}

.home #newinfo a:link , a:visited{
    color: #505050;
    text-decoration: none;
}

.home #menu a:link , a:visited{
    color: #505050;
    text-decoration: none;
}

.home a:hover, .home a:active{
    color: #E2E2E2;
    text-decoration: none;
}
/* 3-2 Hajimeni ------------------*/
.hajimeni .nav a:link, .hajimeni .nav a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

..hajimeni nav a:hover, .hajimeni .nav a:active{
    color: #E2E2E2;
    text-decoration: none;
}

.hajimeni a:hover, .hajimeni a:active{
    color: #E2E2E2;
    text-decoration: none;
}

/* 3-3 factory ------------------*/
.factory .nav a:link , .factory .nav a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

.factory .nav a:hover, .factory .nav a:active{
    color: #E2E2E2;
    text-decoration: none;
}

/* 3-4 products ------------------*/
.products .nav a:link , .products  .nav a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

.products .nav a:hover, .products .nav a:active{
    color: #E2E2E2;
    text-decoration: none;
}

.products a:hover, .products a:active{
    color: #E2E2E2;
    text-decoration: none;
}

/* 3-5 special ------------------*/
.special .nav a:link , .special .nav a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

.special .nav a:hover, .special .nav a:active{
    color: #E2E2E2;
    text-decoration: none;
}

.special a:hover, .special a:active{
    color: #E2E2E2;
    text-decoration: none;
}

/* 3-6 company ------------------*/
.company .nav a:link , .company .nav a:visited{
    color: #505050;
    text-decoration: none;
}

.company .nav a:hover, .company .nav a:active{
    color: #8C8C8C;
    text-decoration: none;
}


.company a:hover, .company a:active{
    color: #E2E2E2;
    text-decoration: none;
}

/* 3-7 seisansha ------------------*/
.seisansha .nav a:link , .seisansha  .nav a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

.seisansha .nav a:hover, .seisansha .nav a:active{
    color: #E2E2E2;
    text-decoration: none;
}

.seisansha a:hover, .seisansha a:active{
    color: #E2E2E2;
    text-decoration: none;
}

/* 3-8 news ------------------*/
.nav a:link , .nav a:visited{
    color: #505050;
    text-decoration: none;
}

.nav a:hover, .nav a:active{
    color: #8C8C8C;
    text-decoration: none;
}
a:hover, a:active{
    color: #E2E2E2;
    text-decoration: none;
}
/* 3-9 blog ------------------*/
.blog #newblo a:link, .blog #newblo a:visited{
    color:#505050;
    text-decoration: none;
}
/* 4 header ------------------------ */
/* 4-0 header common ------------------ */
/* slider */
@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.woff') format('woff');
}

.slider{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    opacity: 1;
}
.slick-list{
    height: 900px !important;

}
.slick-track{
    height: 100vh;
    z-index: 2;
}
.slick-active{
    /* height: 900px !important; */
}
.slide1{
    background: url(../img/FV1.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    /* height: 900px !important; */
}
.slide2{
    background: url(../img/FV2.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    /* height: 900px !important; */
}
.slide3{
    background: url(../img/FV3.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;

    /* height: 900px !important; */
}

.slide4{
    background: url(../img/FV4.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    /* height: 900px !important; */
}

/* global navigation */
header nav ul{
    justify-content: space-between;
    letter-spacing: 0.3rem;
    display: flex;
    width: 690px;
    height:16px;
}
/* Takalogo */
header h1{
    position: absolute;
    top: 21px;
    left: 46px;
    width: 124px;
    height: 46px;
}

header h1 img{
    width: 124px;
    height: auto;
}

header nav{
    width: 690px;
    height: 16px;
    position: absolute;
    right: 48px;
    top: 25px;
}


/* 4-1 Home ------------------*/
.home header{
    width: 100%;
    height: 100%;
    position: relative;
    /* background: url(../img/FV2.jpg) center center no-repeat;
    background-size: cover; */
    /* opacity: 0;
    animation-name: fade-in;
    animation-duration: .8s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
    /* display: flex; */
    /* justify-content: center; 左右の中央配置 */
    /* align-items: center; 上下の中央配置 */
    /* overflow: hidden;
    position: relative;
    z-index: 2; */

}
.home header .down-arrow{
    position: absolute;
    left: calc(50% - 18px);
    bottom: 55px;
    width: 36px;
    height: 31px;
}

/* 4-2 Hajimeni ------------------*/
.hajimeni header{
    width: 100%;
    height: 80vh;
    position: relative;
    background: url(../img/hajimeni.png) center center no-repeat;
    background-size: cover;
}

/* 4-3 Factory ------------------*/
.factory header{
    width: 100%;
    height: 80vh;
    position: relative;
    background: url(../img/factory-main.png) center center no-repeat;
    background-size: cover;
}

/* 4-4 Products ------------------*/
.products header{
    width: 100%;
    height: 80vh;
    position: relative;
    background: url(../img/products_main2.jpg) center center no-repeat;
    background-size: cover;
}

/* 4-5 Special ------------------*/
.special header{
    position: relative;
    width: 100%;
    height: 80vh;
    position: relative;
    background: url(../img/tokubetsu-main.jpg) center center no-repeat;
    background-size: cover;
}

.special #song{
    position: absolute;
    width: 833px;
    height: 550px;
}
.special header #song p{
    font-size: 17px;
    color: #FFFFFF;
    font-weight: lighter;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    line-height: 4;
    letter-spacing: 0.25rem;
}
.special header #song #para3{
    position: absolute;
    left: 306px;
    top: 145px;
    margin: 0 45px;
}
.special header #song #para2{
    position: absolute;
    left: 625px;
    top: 145px;
    margin: 0 45px;

}
.special header #song #para1{
    position: absolute;
    left: 1014px;
    top: 145px;
    margin: 0 45px;
}


/* 4-6 company ------------------*/
.company header{
    width: 100%;
    height: 80vh;
    position: relative;
    background: url(../img/company-main.jpg) center center no-repeat;
    background-size: cover;
}

/* 4-7 seisansha ------------------*/
.seisansha header{
    width: 100%;
    height: 80vh;
    background: url(../img/seisansha-main.jpg) center center no-repeat;
    background-size: cover;
}

/* 4-8 news ------------------*/
.news header{
    width: 100%;
    height: 200px;
    position: relative;
}


/* 5 section ------------------------ */
/* 5-0 Common ------------------------ */

/* 5-1 Home ------------------*/
.home #newinfo{
    width: 670px;
    margin: 96px auto;
}

.home #newinfo h2{
    font-size: 22px;
    letter-spacing: 13px;
    text-align: center;
    margin-bottom: 21px;
}

.home #newinfo dl {
    width: 653px;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
}

.home #newinfo dl dt{
    width: 120px;
}

.home #newinfo .label{
    width: 80px;
    height: 18px;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #ACACAC;
    text-align: center;
}

.home #newinfo .title{
    text-indent: 1.5rem;
    width: 450px;
}

.home .news1{
    border-top: 1px #505050 solid;
    padding-top: 15px;
    padding-bottom: 24px;
}

.home .news2{
    border-bottom: 1px #505050 solid;
    padding-bottom: 15px;
}

.home #newinfo ul{
    width: 389px;
    margin: 47px auto 0;
    display: flex;
    justify-content: space-between;
}

.home #newinfo ul li{
    width: 146px;
    text-align: center;
    border: 1px #505050 solid;
}

.home #newinfo ul li a{
    width: 146px;
    height: 30px;
}

/* main menu --------------------- */
.home #menu{
    font-size: 16px;
    letter-spacing: 0.4rem;
    line-height: 150px;
}

.home #menu section{
    background-color: #000;
}

.home #menu section:hover{

    opacity: 0.5;
    transition: all 0.5s ease-out;
    }


.home #menu .hajimeni {
    position: relative;
    background: url(../img/menu-hajimeni.jpg) top center no-repeat;
    background-size: cover;
    background-color: #000;
    opacity: 1;
    width: 100%;
    height: 424px;
    margin-bottom: 55px;
}

.home #menu .hajimeni h3{
    position: absolute;
    width: 121px;
    height: 160px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    background-color: #FFFFFF;
    padding-left: 39px;
}

.home #menu .factory{
    position: relative;
    background: url(../img/menu-seisan.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 424px;
    margin-bottom: 55px;
}

.home #menu .factory h3{
    position: absolute;
    width: 121px;
    height: 160px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    background-color: #FFFFFF;
    padding-left: 39px;
}

.home #menu .products{
    position: relative;
    background: url(../img/menu-shohin.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 424px;
    margin-bottom: 55px;
}

.home #menu .products h3{
    position: absolute;
    width: 121px;
    height: 160px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    background-color: #FFFFFF;
    padding-left: 39px;

}

.home #menu .special{
    position: relative;
    background: url(../img/menu-tokubetsu.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 424px;
}

.home #menu .special h3{
    position: absolute;
    width: 133px;
    height: 160px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    background-color: #FFFFFF;
    padding-left: 27px;

}

/* 5-2 Hajimeni ------------------*/
.hajimeni #main {
    width: 100%;
    font-size: 30px;
    letter-spacing: 0.7rem;
    text-align: center;
    margin-top: 70px;
}
.hajimeni #main p{
    font-size: 15px;
    letter-spacing: 0.42rem;
    text-align: center;
    line-height: 55px;
    margin: 70px auto;
}

/* 5-3 Factory ------------------*/
.factory #seisan{
    position: relative;
    margin-top: 70px;
}
.factory #seisan h2{
    font-size: 24px;
    letter-spacing: 0.4rem;
    text-align: center;
    margin: 70px auto;
}

.factory #seisan h3{
    font-size: 19px;
    letter-spacing: 0.32rem;
    text-align: center;
}

.factory #seisan p{
    font-size: 15px;
    letter-spacing: 0.26rem;
    line-height: 26px;
    text-align: center;
    padding: 40px 0 80px;
}
.factory #seisan .seisan1{
    margin-top: 100px;
    width: 100%;
    height: 600px;
}

.factory #seisan .pic1{
    width: 100%;
    height: 455px;
    background:url(../img/seisan1.jpg) center  center no-repeat;
    background-size: cover;
}

.factory #seisan .seisan2{
    margin-top: 150px;
    width: 100%;
    height: 600px;
}

.factory #seisan .pic2{
    width: 100%;
    height: 455px;
    background:url(../img/seisan2.jpg) center  center no-repeat;
    background-size: cover;
}
.factory #seisan .seisan3{
    margin-top: 150px;
    width: 100%;
    height: 600px;
}

.factory #seisan .pic3{
    width: 100%;
    height: 455px;
    background:url(../img/seisan3.jpg) center  center no-repeat;
    background-size: cover;
}

.factory #seisan .seisan4{
    margin-top: 150px;
    width: 100%;
    height: 600px;
}

.factory #seisan .pic4{
    width: 100%;
    height: 455px;
    background:url(../img/seisan4.jpg) center  center no-repeat;
    background-size: cover;
}

.factory #seisan .seisan5{
    margin-top: 150px;
    width: 100%;
    height: 600px;
}

.factory #seisan .pic5{
    width: 100%;
    height: 455px;
    background:url(../img/seisan5.jpg) center  center no-repeat;
    background-size: cover;
}

.factory #seisan .seisan6{
    margin-top: 150px;
    width: 100%;
    height: 600px;
}
.factory #seisan .pic6{
    width: 100%;
    height: 455px;
    background:url(../img/seisan6.jpg) center  center no-repeat;
    background-size: cover;
}

/* 5-4 Products ------------------*/
.products #list{
    width: 772px;
    height: 2012px;
    margin: 70px auto;
}

.products #list img{
    width: 182px;
    height: auto;
}
.products #list figure{
    width: 182px;
    height: auto;
}

.products #list h2{
    font-size: 24px;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-bottom: 200px;
}

.products #list #sub-copy{
    font-size: 16px;
    letter-spacing: 0.2rem;
    text-align: center;
}
.products #list .text{
    width: 512px;
    height: 142px;
}

.products #list h3{
    font-size: 19px;
    letter-spacing: 0.1rem;
    text-align: left;
}

.products #list p{
    font-size: 14px;
    letter-spacing: 0.1rem;
    text-align: left;
}
/* picture size ------------------*/

.products #list #uonuma{
    width: 775px;
    height: 265px;
}
.products #list #niigata{
    width: 775px;
    height: 265px;
}
.products #list #niigata-white{
    width: 775px;
    height: 265px;
}
.products #list #mochi{
    width: 775px;
    height: 265px;
}
.products #list #shinnosuke{
    width: 775px;
    height: 265px;
}
.products #list .text h3{
    margin: 23px 0 30px 0;
}
/* positioning and space ------------------*/

.products #list #uonuma{
    display: flex;
    justify-content: space-between;
    margin: 115px auto;
}

.products #list #niigata{
    display: flex;
    justify-content: space-between;
    margin: 115px auto;
}
.products #list #niigata-white{
    display: flex;
    justify-content: space-between;
    margin: 115px auto;
}
.products #list #mochi{
    display: flex;
    justify-content: space-between;
    margin: 115px auto;
}
.products #list #shinnosuke{
    display: flex;
    justify-content: space-between;
    margin: 115px auto 0;
}

/* 5-5 Special ------------------*/
.special #main {
    margin: 70px auto;
}
.special #main h2{
    font-size: 24px;
    letter-spacing: 0.4rem;
    text-align: center;
}

.special #main p{
    font-size: 15px;
    letter-spacing: 0.2rem;
    line-height: 2.5;
    text-align: center;
    margin: 95px auto 150px;
}

.special #main .seisansha{
    width: 100%;
    height: 277px;
    background: url(../img/special1.jpg) top center no-repeat;
    background-size: cover;
}

.special #rice h3{
    font-size: 18px;
    letter-spacing: 0.1rem;
    text-align: left;
    margin: 23px 0 30px 0;
}

.special #rice p{
    font-size: 14px;
    letter-spacing: 0.1rem;
    text-align: left;
}
.special #rice{
    display: flex;
    justify-content: space-between;
    width: 775px;
    height: 265px;
    margin: 50px auto;
}

.special #rice #kome img{
    width: 182px;
    height: auto;
}

.special #rice .text{
    width: 512px;
    height: 142px;
}

/* 5-6 Company ------------------*/
#company{
    margin-top: 70px;
}
#company figure{
    width: 100%;
    height: 455px;
    background: url(../img/hasakake.jpg) center center no-repeat;
    background-size: cover;
}
#company h2{
    font-size: 24px;
    letter-spacing: 0.4rem;
    text-align: center;
    margin: 70px auto;
}
#company .annai{
    width: 633px;
    height: 532px;
    margin: 150px auto;
    font-size: 16px;
    letter-spacing: 0.42rem;
    line-height: 1;
}
#company .annai dt{
    width: 168px;
    height: 20px;
}

#company .annai dd{
    width: 498px;
    height: 20px;
}

#company .annai #shamei{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#company .annai #daihyo{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#company .annai #address{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#company .annai #tel{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#company .annai #fax{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#company .annai #mail{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#company .annai #business{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#company .annai #asset{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
/* history ---------------------- */
#history h3{
    font-size: 24px;
    letter-spacing: 0.7rem;
    text-align: center;
    margin-top: 100px;
}
#history .enkaku{
    width: 658px;
    height: 536px;
    margin: 96px auto;
    font-size: 16px;
    letter-spacing: 0.2rem;
}

#history .enkaku dt{
    width: 169px;
    height: 20px;
}

#history .enkaku dd{
    width: 498px;
    height: 20px;
}

#history .enkaku #history1{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history2{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history3{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history4{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history5{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history6{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history7{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history8{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#history .enkaku #history9{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

/* access ------------------------ */
#access{
    width: 100%;
    height: 473px;
}
#access h3{
    font-size: 24px;
    letter-spacing: 0.7rem;
    text-align: center;
    margin-bottom: 50px;
}

#access iframe{
    width: 100%;
    height: 470px;
}

/* 5-7 seisansha ------------------*/
.seisansha #main {
    width: 100%;
    font-size: 22px;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-top: 70px;
}

.seisansha #main h2{
    font-size: 24px;
    letter-spacing: 0.7rem;
}
.seisansha #main .text1{
    font-size: 15px;
    letter-spacing: 0.42rem;
    text-align: center;
    line-height: 55px;
    margin: 150px auto 0;
}

.seisansha #main .text2{
    font-size: 15px;
    letter-spacing: 0.42rem;
    text-align: center;
    line-height: 55px;
    margin: 40px auto;
}

.seisansha #main .text3{
    font-size: 16px;
    letter-spacing: 0.42rem;
    text-align: center;
    line-height: 55px;
}

/* 5-8 news ------------------*/
#newblo{
    width: 866px;
    height: 321px;
    margin: 0 auto;
}
#newblo h2{
    font-size: 24px;
    letter-spacing: 0.38rem;
    text-align: center;
    margin: 0 auto 90px;
}

#newblo dl{
    width: 435px;
    margin: 0 auto 70px;
    text-align: left;
}

#newblo dl dt{
    font-size: 16px;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
}

#newblo dl .title{
    font-size: 18px;
    letter-spacing: 0.1rem;
    margin-bottom: 40px;
}

#newblo dl .text{
    font-size: 14px;
}

#newblo p{
    font-size: 13px;
    letter-spacing: 0.1rem;
}

#newblo .nextprev{
    width: 866px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* footer ------------------------ */
footer{
    width: 100%;
    padding:224px 0;
    text-align: center;
}

footer h1 img{
    width: 166px;
    height: auto;
}

footer p{
    padding-top: 50px;
    font-size: 8px;
}
